.fade-up{
    animation: moveUp 1.5s ease-out forwards;
    opacity: 0;
}
@keyframes moveUp{
    0%{
        transform: translateY(30px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;    
}
h3{
    color: linear-gradient(to right ,#fff,#A9B5DF);
}